*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #fcf0ed;
    position: relative;
}

.navbar-container{
    width: 80vw;
    display: flex;
    justify-content: space-between;
   
}

nav{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0.7rem 0;
}

.nav-child2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-child1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

li{
    list-style-type: none;
}

.navigators{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-child2 a{
    text-decoration: none;
    color: black;
}

figcaption{
    font-size: 0.7rem;
    font-weight: 600;
}

.fa-linkedin{
    color: #0a66c2;
    font-size: 2rem;
}

i{
    color: #3a4535;
    font-size: 1.5rem;
}

.logoutBtn{
    background-color: transparent;
    padding: 0.4em;
    border-radius: 10px;
    border: none;
    background-color: rgba(96, 96, 179, 0.8);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 500ms ease;
}

.logoutBtn:hover{
    background-color: rgba(96, 96, 179, 1);
}

.main{
    grid-area: main;
}   

.sideBar{
    background-color: white;
    grid-area: sideBar;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#userImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.personData{
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.grid-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.gridDiv{
    display: grid;
    /* grid-template-columns: 225px 1fr 1fr; */
    grid-template-columns: 225px auto 300px;
    grid-template-areas: 'sideBar main .';
    gap: 2rem;
    width: 80vw;
    grid-template-rows: auto;
}

.userPostingImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.userPostImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.postingDiv{
    background-color: white;
    display: flex;
    align-items: center;
}

.postDiv{
    background-color: white;
    margin-top: 1rem;
}

.authorDetails{
    display: flex;
}

.postData{
    font-size: 0.7rem;
    /* font-weight: 500; */
}

.postUserName{
    font-size: 1rem;
    font-weight: 700;
}


.postContent{
    margin-top: 0.8rem;
}

#postImage{
    width: 100%;
    height: 100%;
    /* position: relative; */
}

.postBox{
    background-color: white;
    width: 40rem;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;
}

.postBox h3{
    letter-spacing: 2px;
}

.postCaption{
    border: none;
    width: 100%;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.postBtn{
    border: none;
    padding: 0.4em;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: rgba(115, 115, 240, 0.7);
    color: white;
    border-radius: 10px;
    cursor: pointer; 
    transition: all 500ms ease;
    margin-top: 1rem;
}

.postBtn:hover{
    background-color: rgba(115, 115, 240, 1);
}

.overlay{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}

.hidden{
    display: none;
}